.root {
    width: 30rem;
    height: 3.5rem;
    background-color: #4339f2;
    position: fixed;
    bottom: 1.5rem;
    left: 31rem;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

.root > * {
    margin: 0 0.25rem;
}

.root > p {
    color: #ffffff;
    font-size: 1rem;
}

.button {
    border: none;
    min-width: 5rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.5rem;
}

.button > img {
    margin-right: 0.2rem;
}
