.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}

.table > thead {
  vertical-align: middle;
}

.table > tbody > tr > td {
  padding: 1.75rem;
  text-align: left;
  font-weight: 400;
}

.table > thead > tr > th {
  padding: 0.25rem 1.75rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
  width: 1%;
  padding-right: 0;
}

.table > thead > tr > th:not(:first-child),
.table > tbody > tr > td:not(:first-child) {
  width: 23%;
}

.table > tbody > tr > td {
  background-color: #ffffff;
}

.table-row {
  cursor: pointer;
}

.table-row > td:first-child {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.table-row > td:last-child {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
